# Ignore artifacts:
build
coverage

node_modules/
dist/
out/
.next/

package-lock.json
yarn.lock
bun.lock
pnpm-lock.yaml
.env*

logs/
*.log

public/
assets/
*.svg
*.png
*.jpg
*.pdf

.vscode/
.idea/
.DS_Store

.git/

.vercel/
.cache/

*.config.js
*.config.ts
